%parallax {
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  // opacity: 0.65;
}
.parallax-intro {
  @extend %parallax;
  /* The image used */
  background-image: url(../img/SC_Panorama.JPG);
}

.parallax-portfolio {
  @extend %parallax;
  background-position: center center;
  /* The image used */
  background-image: url(../img/SC_water.JPG);
}
