// Text colors
$black: #030303 !default;
$white: #ffffff !default;
$text: #212121 !default;

// Primary colors
$primary: #42dca3 !default;
$blue-400: #0088ce !default;
$blue-light: #4cbfff !default;
$blue: #004e95 !default;
$blue-dark: #013a6b !default;

// Secondary colors
$blue-xlight: #39a5dc !default;
$green: #3f9c35 !default;
$orange: #e67e22 !default;
