// Text colors
$black: #212121 !default;
$white: #ffffff !default;
$text: $black !default;

// Primary colors
$primary: #42dca3 !default;
$blue-400: #0088ce !default;

// Secondary colors
$blue-300: #39a5dc !default;
$green-400: #3f9c35 !default;
$orange-400: #ec7a08 !default;
