html, body {
    font-family: Overpass;
    font-size: 14px;
    height: 100%;
}
body {

}
section {
    margin-top: 50px;
    padding-bottom: 50px;
}
footer {
    bottom: 0;
    height: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.bg-white {
    background-color: $white;
}
.bg-primary {
    background-color: $bs-primary;
}
.text-white {
    color: $white;
}
.navbar-dark {
    .navbar-toggler {
        border-color: $white;
        background-image: none;
        width: auto;
        &:focus {
            outline: none;
        }
    }
    .username {
        color: $white;
        line-height: 2.5;
    }
    .navbar-nav .nav-link {
        color: $white;
    }
}
.nav-header {
    color: rgba(255,255,255,.5);
}
#intro {
    background-image: url("../img/SC_Panorama.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    display: table;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    .inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        max-width: none;
    }
}
.content {
	padding:10px;
	background:rgba(255,255,255,0.4);
	max-width:600px;
	margin:auto;
}
.inner {
	max-width:600px;
	margin:auto;
	font-size:140%;
	line-height:1.6;
	padding:10px
}
#circles {
	width: 80%;
	margin: auto;
    .inner .circle {
        padding: 2em 0 0
    }
}
.circle {
    border-radius: 50%;
    background-color: orange;
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 10px;
}