#about, #portfolio, #contact {
  height: 100vh;
  min-height: 750px;
  background-color: #000;
}
#about {
  padding-top: 200px;
  padding-bottom: 200px;
  color: $text;
}
#portfolio {
  // background-color: $white;
  padding-top: 50px;
  background: linear-gradient(transparent, #393f44);
  box-shadow: 0 -5px 5px -5px #d7d7d7;
}
#contact {
  // background-color: $orange-400;
}
#spacer {
  padding-top: 150px;
  padding-bottom: 50px;
}
.footer {
  // background-color: #393f44;
  text-align: center;
  padding: 0 !important;
}
