#about, #portfolio, #contact {
  height: 100vh;
  min-height: 750px;
  // background-color: #000;
}
#about {
  background-color: #013a6b;
  // background-image: -webkit-linear-gradient(15deg, #004E95 50%, #013A6B 50%);
  padding-bottom: 200px;
  // color: $text;
  z-index: 5;
}
.about {
  &-left {
    &-header {
      list-style: none;
      font-size: $font-size-base * 4;
      // color: $white;
      // @media screen and (max-width: 768px) {
      //   padding-left: 0;
      // }
      li {
        line-height: 2.5;
        &:nth-child(3n-1) {
          margin-left: 50px;
          // @media screen and (max-width: 768px) {
          //   margin-left: 0;
          // }
        }
        &:nth-child(3n) {
          margin-left: 100px;
          // @media screen and (max-width: 768px) {
          //   margin-left: 0;
          // }
        }
      }
    }
  }
}
#portfolio {
  background-image: -webkit-linear-gradient(15deg, #004E95 50%, #013A6B 50%);
  margin-top: -50px;
  padding-top: 100px;
}
.portfolio {
  &-top {
    &--text {
      font-size: $font-size-base * 2.5 !important; // ~36px
      font-style: italic;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 50);
      &_callout {
        font-size: $font-size-base * 5.5 !important; // ~75px
      }
    }
  }
  &-bottom {
    text-align: right;
    &--text {
      font-size: $font-size-base * 2.5 !important; // ~36px
      text-shadow: 0 2px 4px rgba(0, 0, 0, 50);
      line-height: 1;
      margin: 0;
      &::first-letter {
        font-size: $font-size-base * 10 !important; // ~36px
        initial-letter: 1;
      }
    }
  }
}
#contact {
  background-image: -webkit-linear-gradient(150deg, #013A6B 55%, #4CBFFF 35%);
  padding-top: 100px;
}
.footer {
  background-image: -webkit-linear-gradient(150deg, #004E95 70%, #4CBFFF 35%);
  text-align: center;
  padding: 0 !important;
}
