.navbar-custom {
  display: grid;
  height: 50px;
  align-content: center;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // margin-left: 10px;
  // margin-right: 10px;
  // background-color: rgba($white, 0.3);
  // background-color: rgba(216, 216, 216, 0.17);
	// box-shadow: 0 0.5px 5px 0 rgba(245, 245, 245, 0.45);
  // border-bottom: 1px solid rgba($white, 0.3);
  text-transform: uppercase;
  font-family: $font-stack-alt;
  z-index: 10;
  .brand {
    font-size: 20px;
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
  }
  .divider {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.4s;
  }
  .navbar {
    animation-delay: 0.8s;
  }
  a {
    color: $white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav {
    li {
      a {
        transition: background .3s ease-in-out;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        &:hover {
          background-color: transparent;
          color: rgba($white, 0.8);
          outline: none;
        }
        &:focus,
        &:active {
          background-color: transparent;
          outline: none;
        }
      }
      &.active {
        outline: none;
        a {
          background-color: rgba($white, 0.3);
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  @media(min-width:768px) {
    background: transparent;
    border-bottom: none;
    letter-spacing: 1px;
    padding: 0 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      background-color: transparent;
      border-bottom: 1px solid rgba($white, 0.3);
      opacity: .8;
    }
  }
}
