@import url("http://overpass-30e2.kxcdn.com/overpass.css");

/* colors */
$white: #ffffff;
$bs-primary: #0275d8;

/* font sizes */
$font-small: .5em;
$font-medium: .75em;
$font-regular: 1em;
$font-large: 1.5em;
$font-xlarge: 2em;