@import "fonts";
@import "colors";
@import "variables";
@import "mixins";
@import "buttons";

body {
    font-family: "Overpass",Helvetica,Arial,sans-serif; //base
    background-color: $white;
    color: $text;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba($white, 0.2);
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Overpass",Helvetica,Arial,sans-serif; //alternate
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 35px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 25px;
    @media(min-width:768px) {
        font-size: 20px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    color: $blue-400;
    transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($blue-400,20%);
    }
}

.light {
    font-weight: 400;
}

.fab-top {
    background-color: $blue-400;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 10px #f7f7f7;
    margin-right: 15px;
    margin-bottom: 15px;
    position: fixed;
    right: 0;
    height: 50px;
    width: 50px;
    &:before {
        font-family: FontAwesome;
        font-size: 1.5em;
        content: "\f148";
        color: $white;
        position: relative;
        top: 11px;
        left: 17px;
    }
}

.navbar-custom {
    font-family: "Overpass",Helvetica,Arial,sans-serif; //alternate
    background-color: $blue-300;
    border-bottom: 1px solid rgba($white, 0.3);
    margin-bottom: 0;
    text-transform: uppercase;
    .navbar-toggle {
        font-size: 16px;
        color: $white;
        padding: 4px 6px;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $white;
    }
    .nav {
        li {
            a {
                transition: background .3s ease-in-out;
                    -webkit-transition: background .3s ease-in-out;
                    -moz-transition: background .3s ease-in-out;
                &:hover {
                    background-color: transparent;
                    color: rgba($white, 0.8);
                    outline: none;
                }
                &:focus,
                &:active {
                    background-color: transparent;
                    outline: none;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba($white, 0.3);
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        background: transparent;
        border-bottom: none;
        letter-spacing: 1px;
        padding: 20px 0;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
            -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            background: $blue-300;
            border-bottom: 1px solid rgba($white, 0.3);
            padding: 0;
        }
    }
}

.intro {
    background: url(../img/SC_Panorama.JPG) no-repeat bottom center scroll;
    background-color: $black;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    color: $white;
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}
@-webkit-keyframes pulse {
    from {
        transform: scale(1);
            -webkit-transform: scale(1);
    }

    50% {
        transform: scale(1.2);
            -webkit-transform: scale(1.2);
    }

    100% {
        transform: scale(1);
            -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        transform: scale(1);
            -moz-transform: scale(1);
    }

    50% {
        transform: scale(1.2);
            -moz-transform: scale(1.2);
    }

    100% {
        transform: scale(1);
            -moz-transform: scale(1);
    }
}

.content-section {
    height: 100%;
    padding-top: 100px;
}

.portfolio-section {
    background: url(../img/SC_water.jpg) no-repeat center center scroll;
    background-color: $black;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    color: $white;
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.contact-section {
    //background: url(../img/SC_water.jpg) no-repeat center center scroll;
    background-color: $black;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    color: $white;
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    // .content-section {
    //     padding-top: 250px;
    // }

    #about, #portfolio, #contact {
       height: 100%;
       padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    background: #fcfcfc;
    background: rgba($white, 0.2);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: rgba($white, 0.2);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}