@import "colors";
@import "variables";
@import "mixins";
@import "grid";
@import "css--font-face";
@import "css--typography";
@import "css--body";
@import "css--animations";
@import "nav";
@import "layout";
@import "buttons";

.portfolio-section {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  height: auto;
}

.contact-section {
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
}
.download-section {
  padding: 100px 0;
}
