//nav.navbar.navbar-expand-lg.site-header.sticky-top
    a.navbar-brand(href="/") Adam J. Jolicoeur
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
      i.fas.fa-bars
    .collapse.navbar-collapse#navbarNavAltMarkup
      .navbar-nav
        a.nav-item.nav-link(href="about.html") About
        a.nav-item.nav-link(href="code.html") Code
        a.nav-item.nav-link(href="designs.html") Designs
        a.nav-item.nav-link(href="contact.html") Contact
//
nav.sticky-top
  ul.site-header
    li
      a(href="/") Adam J. Jolicoeur
    li
      a(href="about.html") About
      a(href="code.html") Code
      a(href="designs.html") Designs
      a(href="contact.html") Contact
