#navbarHeader.bg-dark.collapse(style='')
  .container
    .row
      .col-sm-8.col-md-7.py-4
        h4.text-white Welcome
        p.text-muted
          | My name is Adam J. Jolicoeur and I am a designer and developer.
          | I strive to design and create amazing things. From personal to professional,
          | my goal is to create a product that not only will you love,
          | but your customers will love to visit over and over again.
          br
      .col-sm-4.offset-md-1.py-4
        h4.text-white
        ul.fa-ul
          li
            a.text-white.text-size__medium(href='https://github.com/mindreeper2420')
              span.fa-li
                i.fab.fa-github.fa-lg
              | GitHub
          li
            a.text-white.text-size__medium(href='https://gitlab.com/mindreeper2420')
              span.fa-li
                i.fab.fa-gitlab.fa-lg
              | GitLab
          li
            a.text-white.text-size__medium(href='http://www.coroflot.com/ajolicoeur/profile')
              span.fa-li
                i.fas.fa-image.fa-lg
              | Coroflot
          li
            a.text-white.text-size__medium(href='https://dribbble.com/ajolicoeur')
              span.fa-li
                i.fab.fa-dribbble.fa-lg
              | Dribbble
.navbar.navbar-dark.bg-dark.box-shadow
    .container.d-flex.justify-content-between
        a.navbar-brand.d-flex.align-items-center(href='index.html')
          strong Adam J. Jolicoeur
        button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
          span.fas.fa-grip-horizontal.fa-2x
