nav.sticky-top
  ul.aj-site-header
    li
      a(href="/") Adam J. Jolicoeur
    li
      a(href="about.html") About
    li
      a(href="prototypes.html") Prototypes
//
      a(href="code.html") Code
      a(href="designs.html") Designs
      a(href="contact.html") Contact
//
