nav.sticky-top
  ul.site-header
    li
      a(href="/") Adam J. Jolicoeur
    li
      a(href="about.html") About
//
      a(href="code.html") Code
      a(href="designs.html") Designs
      a(href="contact.html") Contact
//
