nav.navbar.navbar-expand-lg.site-header.sticky-top
  a.navbar-brand(href="/") Adam J. Jolicoeur
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
    i.fas.fa-bars
  .collapse.navbar-collapse#navbarNavAltMarkup
    .navbar-nav
      a.nav-item.nav-link(href="#") About
      a.nav-item.nav-link(href="#") Code
      a.nav-item.nav-link(href="#") Designs
      a.nav-item.nav-link(href="#") Demos
      a.nav-item.nav-link(href="#") Contact
