body {
  background-color: var(--color-background--primary);
  font-size: $font-size-base;
  font-family: 'overpass-mono';
}
.header__home {
  @extend %grid;
}
@media (min-width: 768px) {
  .fa-ul {
    margin-left: 0;
  }
}
.mockup-screenshot {
  @media (max-width: 767.98px) {
    width: 100%;
  }
}
