---
layout: base.njk
---

<div class="container my-3">
  <wa-button href="/designs/" pill>
    <wa-icon slot="start" family="duotone" variant="regular" name="arrow-left-short"></wa-icon>
    Back
  </wa-button>
</div>

{{ content | safe }}

