---
layout: base.njk
---

<nav class="responsive">
  <a href="/designs/" alt="Back to the Designs page">
    <button class="border large small-elevate">
      <i>arrow_back</i>
      <span>Back</span>
    </button>
  </a>
</nav>
<div class="medium-space"></div>
{{ content | safe }}

