<footer id="contact">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Connect</h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/ajjolicoeur" class="social-link" target="_blank" alt="Linked to my LinkedIn profile">LinkedIn</a>
        <a href="https://www.github.com/AdamJ" alt="Link to my GitHub profile" target="_blank" class="social-link">GitHub</a>
        <a href="https://blog.adamjolicoeur.com" class="social-link" target="_blank" alt="Link to my blog">Blog</a>
        <a href="mailto:contact@adamjolicoeur.com" class="social-link" alt="Open an email client to email me">Email Me</a>
      </div>
    </div>
    <div class="footer-section">
      <h3>Resources</h3>
      <div class="social-links">
        <a href="{{ '/about' | url }}" class="social-link" aria-label="Link to an about page">About</a>
        <a href="{{ '/resume' | url }}" class="social-link" aria-label="View my resume">Resume</a>
        <a href="{{ '/presentations' | url }}" class="social-link" aria-label="View prior presentations">Presentations</a>
      </div>
    </div>
    <div class="footer-section">
      <h3>About This Site</h3>
      <p>Built with <a href="https://www.11ty.dev" target="_blank" alt="Link to Eleventy's website">Eleventy</a>, designed with care. This portfolio showcases my approach to blending thoughtful design with clean, maintainable code.</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright &copy; 2008-{% year %} <a href="{{ '/about' | url }}" alt="Link to an about page">{{ meta.authorName }}</a>. All rights reserved. Designed & developed with <i class="fa-solid fa-brain"></i></p>
    <a href="{{ '/sitemap.xml' | url }}" alt="Link to the sitemap">
      Sitemap
    </a>
    <span class="small text-secondary px-2"><i class="fa-solid fa-diamond text-accent"></i></span>
    <a href="{{ '/credits' | url }}" alt="Link to credits page">
      Credits
    </a>
  </div>
</footer>
