<footer id="footer" class="footer d-flex flex-wrap flex-column mt-5">
  <div class="container px-0 px-md-1">
    {# {%- if meta.env=="dev" -%}
    <div class="row">
      <sl-button href="location.href = `vscode://file/Users/adamjolicoeur/Documents/GitHub/Adamj.github.io/${document.documentElement.dataset.inputpath}`;">Edit in VSCode</sl-button>
    </div>
    {%- endif -%} #}
    <div class="row">
      <div class="col-6 col-md-3 pt-3 pt-md-0">
        <div class="banner">Here</div>
        <ul class="list-unstyled mt-0 ps-0">
          <li class="mb-2">
            <a class="icon-link" href="{{ '/about' | url }}" alt="Link to the about page">
              About
            </a>
          </li>
          <li class="mb-2">
            <a class="icon-link" href="{{ '/designs' | url }}" alt="Link to the designs page">
              Designs
            </a>
          </li>
          {# <li class="mb-2">
            <a class="icon-link" href="{{ '/journeys' | url }}" alt="Link to journeys page">
              Journeys
            </a>
          </li> #}
          <li class="mb-2">
            <a class="icon-link" href="{{ '/credits' | url }}" alt="Link to credits page">
              Credits
            </a>
          </li>
          <!-- <li class="mb-1">
            <a class="icon-link" href="{{ '/posts' | url }}" alt="Link to page of posts">
              Posts
            </a>
          </li> -->
        </ul>
      </div>
      <div class="col-6 col-md-3 pt-3 pt-md-0">
        <div>&nbsp;</div>
        <ul class="list-unstyled mt-3 ps-0">
          <li class="mb-2">
            <a class="icon-link" href="{{ '/development' | url }}" alt="Link to the development page">
              Development
            </a>
          </li>
          <li class="mb-2">
            <a class="icon-link" href="https://pf4testbench.netlify.app/" rel="noopener" target="_blank" alt="External link to patternfly v4 prototype">
              PatternFly.org v4 <fa-icon type="duotone" weight="solid" name="arrow-up-right-from-square" size="md"></fa-icon>
            </a>
          </li>
          <li class="mb-2">
            <a class="icon-link" href="https://kubevirtio-site.netlify.app/" rel="noopener" target="_blank" alt="External link to kubevirt landing page prototype">
              Kubevirt.io <fa-icon type="duotone" weight="solid" name="arrow-up-right-from-square" size="md"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 pt-3 pt-md-0">
        <div class="banner">There</div>
        <ul class="list-unstyled mt-0 ps-0">
          <li class="mb-2">
            <a href="{{ meta.linkedinURL | url }}" rel="noopener" class="icon-link pe-1" target="_blank" alt="External link to view my LinkedIn profile">
              <fa-icon type="brands" name="linkedin" size="lg"></fa-icon> LinkedIn
            </a>
          </li>
          <li class="mb-2">
            <a href="{{ meta.githubURL | url }}" rel="noopener" class="icon-link pe-1" target="_blank" alt="External link to view my GitHub profile">
              <fa-icon type="brands" name="github" size="lg"></fa-icon> GitHub
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 pt-3 pt-md-0">
        <div>&nbsp;</div>
        <ul class="list-unstyled mt-3 ps-0">
          <li class="mb-2">
            <a href="https://bsky.app/profile/{{ meta.blueskyUsername | url }}" rel="noopener" class="icon-link pe-1" target="_blank" alt="External link to view my Figma community profile">
              <fa-icon type="brands" name="bluesky" size="lg"></fa-icon> Bluesky
            </a>
          </li>
          <li class="mb-2">
            <a href="{{ meta.codepenURL | url }}" rel="noopener" class="icon-link" target="_blank" alt="External link to view my Codepen.io profile">
              <fa-icon type="brands" name="codepen" size="lg"></fa-icon> Codepen
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-between pt-3 pb-2 pb-md-0">
      <div class="col-12 text-md-center text-align-center">
        <small>
          Copyright &copy; 2008-{% year %}
          <a href="/about" alt="Link to my about page">
            {{ meta.authorName }}
          </a>
        </small>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0ea2a7621c.js" crossorigin="anonymous"></script>
  <script src="{{ '/js/prism.js' | url }}"></script>
  <script src="{{ '/js/icon-component.js' | url }}"></script>
  <script src="{{ '/js/jolicoeur.js' | url }}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XQCZPW3PZN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XQCZPW3PZN');
  </script>
  <link media="print" href="{{ '/css/print.css' | url }}" rel="stylesheet" />
</footer>
