---
layout : base.njk
templateEngineOverride : md, njk
---
<div class="large-spacer"></div>
<div class="grid">
  <div class="s12 m6 l6">
    <div class="page bottom active">
      <article class="no-elevate round large large-padding middle-align">
        <div class="large-padding s-small-padding">
          <h1 class="large">Hi!</h1>
          <p class="subtitle-h6">I'm Adam, a Product Manager and Designer creating data-driven experiences.</p>
          <nav>
            <a href="/designs" alt="Link to designs page">
              <button class="small-elevate primary extra ripple">My Designs</button>
            </a>
          </nav>
        </div>
      </article>
    </div>
  </div>
  <div class="m6 l6 s-display-none">
    <div class="page top active">
      <article class="no-elevate round large no-padding background-transparent">
        <img src="{{ '/img/avatar_500x500.webp' | url }}" alt="Avatar thumbnail" />
      </article>
    </div>
  </div>
</div>
<div class="large-space"></div>
<div class="large-space"></div>
<section class="responsive">
  <h2>Recent Work</h2>
  <div class="grid">
    <div class="s12 l6">
      <article class="no-padding">
        <div class="grid no-space">
          <div class="s6">
            <img class="responsive" src="{{ '/img/CAS_Figma_Cover.webp' | url }}" alt="Thumbnail of the CAS design system cover page" style="max-height: 100%;">
            <div class="absolute top left right padding top-shadow white-text">
              <p class="subtitle-h5">Design System</p>
              <p>Component Assembly Systems</p>
            </div>
          </div>
          <div class="s6">
            <div class="padding">
              <h5>CAS Design</h5>
              <p>As the lead designer at Component Assembly System, one of the top priorities was to create a design system that all of the internal projects.</p>
              <nav>
                <button class="border tertiary" disabled>Coming Soon</button>
              </nav>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="s12 l6">
      <article class="no-padding">
        <div class="grid no-space">
          <div class="s6">
            <img class="responsive" src="{{ '/img/task-it_thumbnail.webp' | url }}" alt="Thumbnail of task tracker" style="max-height: 100%;">
            <div class="absolute top left right padding top-shadow white-text">
              <p class="subtitle-h5">Task Tracker</p>
              <p>AWS</p>
            </div>
          </div>
          <div class="s6">
            <div class="padding">
              <h5>Task-It!</h5>
              <p>As part of the software builder team, I was responsible for designing the next-generation task management system for internal ASBX users.</p>
              <nav>
                <a href="/designs/task-it/" alt="Link to the Task-It! project story">
                  <button class="round tertiary">The Story</button>
                </a>
              </nav>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="small-space"></div>
  <div class="grid">
    <div class="s12 m6 l4">
      <article class="no-padding">
        <img
          class="responsive medium"
          src="{{ '/img/OSIO_thumbnail.webp' | url }}"
          srcset="{{ '/img/OSIO-laptop-screen-1200.webp 1.25x'}}"
          alt="Thumbnail of application management screen"
          style="max-height: 100%;"
        >
        <div class="absolute bottom left right padding bottom-shadow white-text">
          <nav>
            <p class="subtitle-h5">Application<br />Management</p>
            <div class="max"></div>
            <a href="/designs/alm/" alt="Link to application management page">
              <button class="circle tertiary">
                <i>arrow_right</i>
              </button>
            </a>
          </nav>
        </div>
      </article>
    </div>
    <div class="s12 m6 l4">
      <article class="no-padding">
        <img class="responsive medium" src="{{ '/img/CE_thumbnail.webp' | url }}" alt="Thumbnail of customer engagement screen" style="max-height: 100%;">
        <div class="absolute bottom left right padding bottom-shadow white-text">
          <nav>
            <p class="subtitle-h5">Customer<br />Engagement</p>
            <div class="max"></div>
            <a href="/designs/customer-engagement/" alt="Link to customer engagement page">
              <button class="circle tertiary">
                <i>arrow_right</i>
              </button>
            </a>
          </nav>
        </div>
      </article>
    </div>
    <div class="s12 m6 l4">
      <article class="no-padding">
        <img class="responsive medium" src="{{ '/img/colorPicker/thumbnail.webp' | url }}" alt="Thumbnail of color picker slide" style="max-height: 100%;">
        <div class="absolute bottom left right padding bottom-shadow white-text">
          <nav>
            <p class="subtitle-h5">Color Picker</p>
            <div class="max"></div>
            <a href="/presentations/color-picker/" alt="Link to color picker presentation">
              <button class="circle tertiary">
                <i>arrow_right</i>
              </button>
            </a>
          </nav>
        </div>
      </article>
    </div>
  </div>
</section>
<div class="large-space"></div>
<div class="large-space"></div>
<section class="responsive">
  <h2>Currently on GitHub</h2>
  <div class="grid">
    <div class="s12 l6">
      <article class="no-elevate large-padding wave">
        <div class="row">
          <img class="circle large" src="{{ '/img/Jolicoeur_iOS-small.webp' | url }}" alt="Site logo" />
          <div class="max">
            <p class="subtitle-h5">AdamJ.GitHub.io</p>
            <p>Where this website lives - take a look around.</p>
          </div>
        </div>
        <nav>
          <a href="https://github.com/AdamJ/AdamJ.github.io" alt="Link to GitHub repo">
            <button>View on GitHub</button>
          </a>
      </article>
    </div>
    <div class="s12 l6">
      <article class="no-elevate large-padding wave">
        <div class="row">
          <img class="circle large" src="{{ '/img/game-tracker.webp' | url }}" alt="Game Tracker logo" />
          <div class="max">
            <p class="subtitle-h5">Game Tracker</p>
            <p>My first attempt at a PWA - Vite, Shoelace, and Lit.</p>
          </div>
        </div>
        <nav>
          <a href="https://github.com/AdamJ/game-tracker" alt="Link to GitHub repo">
            <button>View on GitHub</button>
          </a>
      </article>
    </div>
    <div class="s12 l6">
      <article class="no-elevate large-padding wave">
        <div class="row">
          <img class="circle large" src="{{ '/img/jolicoeur-blog.svg' | url }}" alt="Blog logo" />
          <div class="max">
            <p class="subtitle-h5">Blog</p>
            <p>A simple blog, found at blog.adamjolicoeur.com.</p>
          </div>
        </div>
        <nav>
          <a href="https://github.com/AdamJ/researchandesign" alt="Link to GitHub repo">
            <button>View on GitHub</button>
          </a>
      </article>
    </div>
    <div class="s12 l6">
      <article class="no-elevate large-padding wave">
        <div class="row">
          <img class="circle large" src="{{ '/img/my-mtg-app.webp' | url }}" alt="MTG app logo" />
          <div class="max">
            <p class="subtitle-h5">My MTG App</p>
            <p>For 1v1 games of MTG with Scryfall integration.</p>
          </div>
        </div>
        <nav>
          <a href="https://github.com/AdamJ/my-mtg-app" alt="Link to GitHub repo">
            <button>View on GitHub</button>
          </a>
      </article>
    </div>
  </div>
</section>
<div class="large-space"></div>
