---
layout : base.njk
templateEngineOverride : md, njk
---

<div class="container-xxl intro py-3 px-5">
  <h1 class="display-1 jumbo-heading">Adam J. Jolicoeur</h1>
  <p class="sub-header">
    I'm a <strong>driven</strong> and <strong>passionate</strong> UX technologist, specializing in data-intensive designs.
  </p>
</div>
<div class="container-xxl imager">
  <div class="overlay button-overlay">
    <a class="btn btn-primary btn-jumbo" href="./design" role="button">
      EXPLORE
    </a>
  </div>
</div>
<div class="container-xxl py-3 mt-3 text-bg-light">
  <div class="row px-3 pb-3">
    <div class="col-12">
      <h2>My experience</h2>
      <p class="paragraph-inset">I strive to design and create amazing things. With my skillset, I can create the designs needed for a product and then turn around and produce those designs - allowing for a single point of contact throughout the creation process.</p>
    </div>
  </div>
  <div class="row px-3 align-items-center">
    <div class="col-md-3">
      <h3 class="job--company-name">Amazon.com, Inc</h3>
      <h4 class="job--company-role">Senior UX Designer, ASBX</h4>
      <p class="job--company-dates">August 2021 - Present</p>
    </div>
    <div class="col-md-3">
      <h3 class="job--company-name">Red Hat, Inc</h3>
      <h4 class="job--company-role">Senior IxD Designer, UXD</h4>
      <p class="job--company-dates">July 2016 - August 2021</p>
    </div>
    <div class="col-md-3">
      <h3 class="job--company-name">Saylent Technologies</h3>
      <h4 class="job--company-role">UX Designer</h4>
      <p class="job--company-dates">November 2014 - July 2016</p>
    </div>
    <div class="col-md-3">
      <h3 class="job--company-name">Black Duck Software</h3>
      <h4 class="job--company-role">UI Developer</h4>
      <p class="job--company-dates">February 2013 - October 2014</p>
    </div>
  </div>
  <div class="row justify-content-end text-end p-3">
    <div class="col-12 align-content-end">
      <a class="link icon-link" href="#">
        Resume
      </a>
      <i class="fa-sharp fa-regular fa-arrow-right"></i>
    </div>
  </div>
</div>
<div class="container-xxl pb-3">
  <div class="row px-3">
    <div class="col-12">
      <h2>Prototypes</h2>
      <p class="paragraph-inset">When I work on a design, I prototype as I go. This allows me to utilize what libraries have available, keeping expectations realistic.</p>
    </div>
  </div>
  <div class="row px-3 justify-content-md-center text-center">
    <div class="col-md-3">
      <h3 class="job--company-name">Work planner</h3>
      <h4 class="job--company-role">Work management</h4>
      <a class="link icon-link" href="https://www.adamjolicoeur.com/testing_environment/index.html" target="top" alt="External link to the testing environment demo">Demo</a>
      <i class="fa-sharp fa-regular fa-arrow-up-right-from-square"></i>
    </div>
    <div class="col-md-3">
      <h3 class="job--company-name">Red Hat Developer Manual</h3>
      <h4 class="job--company-role">Component library</h4>
      <a class="link icon-link" href="https://aj-design-manual.netlify.app" target="top" alt="External link to design manual demo">Demo</a>
      <i class="fa-sharp fa-regular fa-arrow-up-right-from-square"></i>
    </div>
  </div>
  <div class="row justify-content-end text-end p-3">
    <div class="col-12 align-content-end">
      <a class="link icon-link" href="/prototypes/prototypes">
        See them all
      </a>
      <i class="fa-sharp fa-regular fa-arrow-right"></i>
    </div>
  </div>
</div>
