---
layout : base.njk
templateEngineOverride : md, njk
---

<div class="container intro py-3 px-0 text-align-center">
  <h1 class="display-1 fw-bold text-break">Adam J. Jolicoeur</h1>
  <p class="sub-header text-break px-2 px-md-0">
    I'm a <strong>driven</strong> and <strong>passionate</strong> UX designer, specializing in data-intensive designs.
  </p>
</div>

<!-- Task It -->
<div class="container py-3 px-0 px-md-5 mt-3">
  <div class="row mx-0 px-0 px-md-3 align-items-center">
    <div class="col-md-6">
      <img src="{{ "/img/task-it_intro.png" | url }}" class="d-block mx-lg-auto img-fluid" alt="Application Lifecycle Management thumbnail" width="700" height="500" loading="lazy">
    </div>
    <div class="col-md-6 text-align-center text-md-start">
      <h2>Task-It!</h2>
      <p class="text-body-secondary">One enterprise task management system to rule them all.</p>
      <sl-button href="/designs/task-it" pill>the journey</sl-button>
    </div>
  </div>
</div>

<!-- Application Lifecycle Management -->
<div class="container py-3 px-0 px-md-5 mt-3 text-bg-light">
  <div class="row mx-0 px-0 px-md-3 align-items-center">
    <div class="col-md-6 text-align-center text-md-start">
      <h2>Application Lifecycle Management</h2>
      <p class="text-body-secondary">A one-stop-shop for a team's planning and project lifecycle management.</p>
      <sl-button href="/designs/alm" pill>the journey</sl-button>
    </div>
    <div class="col-md-6">
      <img src="{{ "/img/OSIO-laptop-screen-1200.png" | url }}" class="d-block mx-lg-auto img-fluid" alt="Application Lifecycle Management thumbnail" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
