---
layout : base.njk
templateEngineOverride : md, njk
---

<div class="container-xxl intro py-3 px-0 px-md-5 text-center">
  <h1 class="display-1 fw-bold text-break">Adam J. Jolicoeur</h1>
  <p class="sub-header text-break px-2 px-md-0">
    I'm a <strong>driven</strong> and <strong>passionate</strong> UX designer, specializing in data-intensive designs.
  </p>
</div>
<!-- Application Lifecycle Management -->
<div class="container-xxl py-3 mt-3 text-bg-light">
  <div class="row px-3 align-items-center">
    <div class="col-md-6">
      <img src="{{ "/img/OSIO-laptop-screen-1200.png" | url }}" class="d-block mx-lg-auto img-fluid" alt="Application Lifecycle Management thumbnail" width="700" height="500" loading="lazy">
    </div>
    <div class="col-md-6 text-center text-md-start">
      <h2>Application Lifecycle Management</h2>
      <p class="text-body-secondary">A one-stop-shop for a team's planning and project lifecycle management.</p>
      <a href="/designs/alm" role="button" class="btn btn-dark icon-link lead" alt="Click to experience the Application Lifecycle Management journey">
        the journey
      </a>
    </div>
  </div>
</div>

<!-- Customer Engagement Application -->
<div class="container-xxl py-3 mt-3">
  <div class="row px-3 align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <h2>Customer Engagement App</h2>
      <p class="text-body-secondary">End-to-end tracking of customer engagement and marketing campaigns.</p>
      <a href="/designs/customer-engagement" role="button" class="btn btn-dark icon-link lead" alt="Click to experience the Customer Engagement journey">
        the journey
      </a>
    </div>
    <div class="col-md-6">
      <img src="{{ "/img/CEA_Dashboard.png" | url }}" class="d-block mx-lg-auto img-fluid img-thumbnail" alt="Customer Engagement App Dashboard thumbnail" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
