---
layout: base.njk
---

<link rel="stylesheet" href="{{ '/css/print.css' | url }}" media="print">

<section class="hero">
  <h1>{{ title }}</h1>
  <p class="text-lead mb-4">
    {{ description }}
  </p>
  {%- if (headerButton) -%}
  <a href="{{ primaryURL}}" class="btn btn-secondary">{{ primaryAction }}</a>
  {%- else -%}{%- endif -%}
</section>

{{ content | safe }}
