---
layout: base.njk
---

<section class="responsive">
  <div class="center-align">
    <h1>{{ title }}</h1>
    <h5>
      {{ description }}
    </h5>
    {%- if (headerButton) -%}
    <div class="small-space"></div>
    <a href="{{ primaryURL}}" alt="Primary action">
      <button class="large small-elevate">{{ primaryAction }}</button>
    </a>
    <div class="medium-space"></div>
    {%- else -%}{%- endif -%}
  </div>
</div>

<style>
  nav:is(.left) {
    background-color: transparent !important;
    z-index: 0 !important;
  }
</style>
<section class="responsive">
  {%- if (tocBlock) -%}
    {%- if content | toc -%}
    <nav class="left max">
    <!--<sl-details summary="Table of Contents">-->
      {{ content | toc | safe }}
    <!--</sl-details>-->
    </nav>
    {%- else -%}
    {%- endif -%}
  {%- else -%}
  {%- endif -%}
  <main class="responsive">
    {{ content | safe }}
  </main>
</section>
