---
layout: base.njk
---

<header class="responsive">
  <h1>{{ title }}</h1>
  <h5>{{ description }}</h5>
  {%- if (headerButton) -%}
  <a href="{{ primaryURL}}">
    <button class="large fill">{{ primaryAction }}</button>
  </a>
  {%- else -%}{%- endif -%}
</header>
<div class="large-space"></div>

{{ content | safe }}

