---
layout: base.njk
---

<section class="hero" aria-labelledby="hero-heading">
  <h1 id="hero-heading">{{ title }}</h1>
  <p>{{ description }}</p>
  {%- if (headerButton) -%}
  <a href="{{ primaryURL}}" class="btn">{{ primaryAction }}</a>
  {%- else -%}{%- endif -%}
</section>

<content>
  {{ content | safe }}
</content>

{% if customCss %}
  <link type="text/css" href="/css/{{ customCss | url }}" rel="stylesheet" />
{% endif %}
