  {# <div class="navbar">
    <div class="nav-left">
      <a class="menu-item" href="">Design</a>
      <a class="menu-item" href="">Development</a>
    </div>
    <div class="nav-right">
      <a class="menu-item" href="">About</a>
      <a class="menu-item" href="">Contact</a>
    </div>
  </div> #}
<container>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../img/navbar-logo.png" alt="Avatar" width="32" height="32">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% set navPages = collections.all | eleventyNavigation %}
        <div class="navbar-nav">
          {%- for entry in navPages %}
          <a class="nav-link" href="{{ entry.url | url }}" {% if entry.url == page.url %} class="nav-link active" {% endif %}>{{ entry.title }}</a>
          {%- endfor %}
        </div>
      </div>
    </div>
  </nav>
</container>
