<nav id="nav" class="l max top">
  <header>
    <nav>
      <a href="/" alt="Link to home">
        <span class="display-none">Link to home</span>
        <img src="{{ '/img/Jolicoeur_iOS.png' | url }}" class="circle" alt="Site logo" />
      </a>
    </nav>
  </header>
  <div class="max"></div>
  <a href="/about" class="nav-link {% if '/about' in page.url %}active{% endif %}" alt="Link to my About page">
    <i>info</i>
    <span>About</span>
  </a>
  <a href="/designs" class="nav-link {% if '/designs' in page.url %}active{% endif %}" alt="Link to my Designs examples">
    <i>palette</i>
    <span>Designs</span>
  </a>
  <a href="/development" class="nav-link {% if '/development' in page.url %}active{% endif %}" alt="Link to my Development examples">
    <i>code</i>
    <span>Code</span>
  </a>
  <div class="medium-space"></div>
  <button class="circle" onclick="mode()">
    <i>light_mode</i>
  </button>
</nav>
<nav class="bottom s m max">
  <header>
    <nav>
      <a href="/" alt="Link to home">
        <img src="{{ '/img/Jolicoeur_iOS.png' | url }}" class="circle" />
      </a>
    </nav>
  </header>
  <a href="/about" class="nav-link {% if '/about' in page.url %}active{% endif %}" alt="Link to my About page">
    <i>info</i>
    <span>About</span>
  </a>
  <a href="/designs" class="nav-link {% if '/designs' in page.url %}active{% endif %}" alt="Link to my Designs examples">
    <i>palette</i>
    <span>Designs</span>
  </a>
  <a href="/development" class="nav-link {% if '/development' in page.url %}active{% endif %}" alt="Link to my Development examples">
    <i>code</i>
    <span>Code</span>
  </a>
</nav>
