<container>
  <nav class="navbar navbar-expand-lg justify-content-center bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-md">
      <a class="navbar-brand" href="/">
        <img src="{{ "/img/navbar-logo.png" | url }}" alt="Avatar" width="32" height="32">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% set navPages = collections.all | eleventyNavigation %}
        <div class="navbar-nav">
          {%- for entry in navPages %}
          <a class="nav-link" href="{{ entry.url }}" {% if entry.url == entry.title %} class="nav-link active" {% endif %}>{{ entry.title }}</a>
          {%- endfor %}
        </div>
      </div>
    </div>
  </nav>
</container>
