.btn-jumbo {
  display: flex;
  width: 270px;
  height: 80px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  font-family: "Work Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background-color: #02769B;
  border-color: #02769B;
  &:hover, &:active {
    background-color: #004b63;
    border-color: #009bce;
    border-width: 2px;
  }
}
.button-secondary {
  border-radius: 4px;
  font-family: "Work Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
