.card-cover {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, 25%);
}
.bi {
  vertical-align: -.125em;
  fill: currentcolor;
}
.card {
  background-color: var(--sl-panel-background-color);
  box-shadow: var(--sl-shadow-large);
  @extend .border-radius-sm;
}
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card-link {
  @include font-size(14px);

  color: var(--color-white);
  & > i {
    color: var(--color-white) !important;
  }
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
.background-overlay {
  .card-link:hover {
    color: var(--sl-color-primary-400);
  }
}
.card-transform {
  transform: translateZ(0);
  transition-duration: 0.7s;
  transition-property: transform;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
