.card-cover {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, 25%);
}
.bi {
  vertical-align: -.125em;
  fill: currentcolor;
}
