$blue-100: #ddecfb;
$blue-200: #badbff;
$blue-300: #439fff;
$blue-600: #26609c;
$blue-700: #2a486b;
$blue-800: #1b314a;
$blue-900: #0c1621;
$white: #ffffff;
$grey-100: #f8f8f8;
$grey-200: #e3e3e3;
$grey-300: #bbbbbb;
$grey-400: #949494;
$grey-600: #424242;
$grey-800: #212529;
$grey-900: #010101;

$black-opacity-60: rgba(0, 0, 0, .6);
