$black: #000;
$white: #fff;

// blue
$blue-50: #dce6f2;
$blue-100: #badbff;
$blue-200: #04b2d9;
$blue-300: #439fff;
$blue-500: #26609c;
$blue-700: #2f5373;
$blue-800: #1b314a;
$blue-900: #0c1621;

// grey
$grey-50: #e8e8ec;
$grey-100: #f8f8f8;
$grey-200: #e3e3e3;
$grey-300: #bbb;
$grey-400: #949494;
$grey-500: #525759;
$grey-600: #424242;
$grey-800: #212529;
$grey-900: #010101;

// green
$green-light: #91d402;
$green: #3f9c36;

// orange
$orange: #f26430;

// pink
$pink: #f2168f;

// purple
$purple-light: #a875c1;
$purple: #670fbf;
$purple-dark: #2c2740;

// red
$red: #f20505;
$red-dark: #731414;

// yellow
$yellow: #fce827;

// additional
$black-opacity-60: rgba(0, 0, 0, 60%);
$dark: $blue-900;
$light: $blue-50;

:root {
  --link-color-primary: #{$blue-500};
  --link-color-primary-hover: #{$blue-800};
  --color-grey-50: #{$grey-50};
  --color-grey-100: #{$grey-100};
  --color-grey-200: #{$grey-200};
  --color-grey-300: #{$grey-300};
  --color-grey-400: #{$grey-400};
  --color-grey-500: #{$grey-500};
  --color-grey-600: #{$grey-600};
  --color-grey-800: #{$grey-800};
  --color-grey-900: #{$grey-900};
  --color-blue-50: #{$blue-50};
  --color-blue-100: #{$blue-100};
  --color-blue-200: #{$blue-200};
  --color-blue-300: #{$blue-300};
  --color-blue-500: #{$blue-500};
  --color-blue-700: #{$blue-700};
  --color-blue-800: #{$blue-800};
  --color-blue-900: #{$blue-900};
  --color-white: #{$white};
  --color-black: #{$black};
  --cas-background: #{$cas-primary};
  --cas-background-hover: #{$cas-secondary};
  --cas-border: #{$cas-secondary};
  --cas-border-hover: #{$cas-secondary};
  --cas-text: #{$cas-text};
  --cas-text-hover: #{$cas-text-hover};
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light dark;
    --bs-body-bg: var(--color-grey-700);
    --bs-body-color: var(--color-grey-50);
    --bs-secondary-color: var(--color-grey-300);
    --bs-light-rgb: 105, 105, 105; //#f8f9fa
    --aj-container-background: var(--bs-bg-opacity, .2);
    --bs-text-dark: var(--color-grey-50);
  }
  body {
    background-color: var(--color-grey-800) !important;
    color: var(--color-grey-200) !important;
  }
  img {
    filter: brightness(.8) contrast(1.2);
  }
  .fa-solid, .fa-brand, i {
    color: var(--color-grey-200) !important;
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, small, .small {
    color: var(--color-grey-200);
    font-weight: 350 !important;
  }
  .text-body-secondary, blockquote blockquote > p {
    color: var(--sl-input-help-text-color);
  }
  .bg-light {
    background-color: var(--aj-container-background) !important;
  }
  .text-dark {
    color: var(--color-grey-950) !important;
  }
}
.text-secondary, blockquote, blockquote > p {
  color: var(--sl-input-help-text-color);
}
