/* stylelint-disable */
.gallery {
  --size: 100px;

  display: grid;
  grid-template-columns: repeat(6, var(--size));
  grid-auto-rows: var(--size);
  margin-bottom: var(--size);
  place-items: start center;
  gap: 5px;

  &:has(:hover) picture:not(:hover),
  &:has(:focus) picture:not(:focus) {
    filter: brightness(0.5) contrast(0.5);
  }

  & picture {
    object-fit: cover;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    clip-path: path(
      'M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z'
    );
    transition:
      clip-path 0.25s,
      filter 0.75s;
    grid-column: auto / span 2;
    border-radius: 5px;

    &:nth-child(5n - 1) {
      grid-column: 2 / span 2;
    }

    &:hover,
    &:focus {
      clip-path: path(
        'M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z'
      );
      z-index: 1;
      transition:
        clip-path 0.25s,
        filter 0.25s;
    }

    &:focus {
      outline: 1px dashed black;
      outline-offset: -5px;
    }
  }
}

/* Carousel */
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

// .carousel-container {
//   max-width: 1044px;
//   margin: 0 auto;
//   padding: 0 20px;
// }

.carousel {
  // display: block;
  // text-align: left;
  // position: relative;
  // margin-bottom: 22px;

  > input {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

    &:nth-of-type(15):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -1400%;
    }
    &:nth-of-type(14):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -1300%;
    }
    &:nth-of-type(13):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -1200%;
    }
    &:nth-of-type(12):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -1100%;
    }
    &:nth-of-type(11):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -1000%;
    }
    &:nth-of-type(10):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -900%;
    }
    &:nth-of-type(9):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -800%;
    }
    &:nth-of-type(8):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -700%;
    }
    &:nth-of-type(7):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -600%;
    }
    &:nth-of-type(6):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -500%;
    }
    &:nth-of-type(5):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -400%;
    }
    &:nth-of-type(4):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -300%;
    }
    &:nth-of-type(3):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: 0%;
    }

    &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(7):checked ~ .carousel__thumbnails li:nth-of-type(7) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(8):checked ~ .carousel__thumbnails li:nth-of-type(8) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(9):checked ~ .carousel__thumbnails li:nth-of-type(9) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(10):checked ~ .carousel__thumbnails li:nth-of-type(10) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(11):checked ~ .carousel__thumbnails li:nth-of-type(11) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(12):checked ~ .carousel__thumbnails li:nth-of-type(12) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(13):checked ~ .carousel__thumbnails li:nth-of-type(13) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(14):checked ~ .carousel__thumbnails li:nth-of-type(14) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
    &:nth-of-type(15):checked ~ .carousel__thumbnails li:nth-of-type(15) {
      box-shadow: 0 0 0 5px rgb(0, 0, 255, 50%);
    }
  }
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;

  figure {
    display: flex;
    margin: 0;
  }

  div {
    @include aspect-ratio(3, 2);

    width: 100%;
  }

  img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
  }

  figcaption {
    align-self: flex-end;
    padding: 20px 20px 0;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
  }

  .credit {
    margin-top: 1rem;
    color: rgb(0, 0, 0, 50%);
    display: block;
  }

  &.scrollable {
    overflow-y: scroll;
  }
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 -10px;

  .carousel__slides + & {
    margin-top: 20px;
  }

  li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }

  label {
    display: block;
    @include aspect-ratio(1, 1);

    &:hover,
    &:focus {
      cursor: pointer;

      img {
        box-shadow: 0 0 0 1px rgb(0, 0, 0, 25%);
        transition: all 300ms ease-in-out;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* stylelint-enable */
