.content {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.divider-large {
  height: 3rem;
  background-color: rgba(0, 0, 0, 10%);
  border: solid rgba(0, 0, 0, 15%);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, 10%), inset 0 .125em .5em rgba(0, 0, 0, 15%);
}
.navbar {
  background-color: #010101;
  color: #ffffff;
}
footer,
.footer {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-top: 1px solid #E3E3E3;
  .footer-left {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1 0 0;
    flex-wrap: wrap;
    color: #212529;
  }
  .footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
  }
}
.intro {
  min-height: 230px;
  padding: 16px 80px
}
.button-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  min-height: 500px;
  background:rgba(0,0,0, .8);
  background-repeat: no-repeat;
  background-size: contain;
}
.imager {
  background: url(../img/dashboard_minimal.png);
  background-size: cover;
  padding-right: 0;
  padding-left: 0;
}

.paragraph-inset {
  padding: 0 16px;
}

.text-value-pairs {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.job {
  align-self: stretch;
  font-family: PT Sans;
  font-weight: 400;
  word-wrap: break-word;
  &--company-name {
    margin-bottom: 8px;
  }
  &--company-role {
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 8px;
  }
  &--company-dates {
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 0;
  }
}
