html {
  scrollbar-color: #666;
}
html::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
  height: 16px;
}
html::-webkit-scrollbar-track {
  background: #101010; /* color of the tracking area */
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(4, 67, 71, 1); /* color of the scroll thumb */
  border: 1px solid rgba(2, 30, 32, 1); /* creates padding around scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

@media (prefers-color-scheme: dark) {
  html::-webkit-scrollbar {
    width: 16px; /* width of the entire scrollbar */
  }
  html::-webkit-scrollbar-track {
    background: rgba(4, 67, 71, 1); /* color of the tracking area */
  }
  html::-webkit-scrollbar-thumb {
    background: rgb(8, 15, 48);
    background: linear-gradient(180deg, rgb(0, 185, 228) 0%, rgb(4, 67, 71) 35%, rgba(4, 67, 71) 65%, rgba(0, 185, 228, 1) 100%);
    border: 1px solid #101010; /* creates padding around scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}

.divider-large {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card-link {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.rounded-5 {
  border-radius: 1em;
}

.card {
  transform: translateZ(0);
  transition-duration: 0.7s;
  transition-property: transform;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.bi {
  vertical-align: -.125em;
}
.icon-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.mockup-screenshot {
  max-width: 1000px;
  @media (max-width: 768px) {
    max-width: 500px;
  }
}

