body {
  @include margin(0);
}
.print {
  display: none !important;
}
.content {
  @include display-flex;

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-direction: column;
}
.divider-large {
  height: 3rem;
  background-color: rgba(0, 0, 0, 10%);
  border: solid rgba(0, 0, 0, 15%);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, 10%), inset 0 .125em .5em rgba(0, 0, 0, 15%);
}
.navbar {
  background-color: var(--color-grey-900);
}
.overlay {
  @include display-flex;

  justify-content: center;
  align-items: center;
  height: 500px;
  min-height: 500px;
  background:rgba(0,0,0, 80%);
  background-repeat: no-repeat;
  background-size: contain;
}
.imager {
  @include padding-right(0);
  @include padding-left(0);

  background: url('../img/dashboard_minimal.png');
  background-size: cover;
}
.portfolio-img-background {
  @include padding-right(0);
  @include padding-left(0);

  background: url('../img/AdamJolicoeur_dot_com-minimal.png');
  background-size: cover;
}
.paragraph-inset {
  @include padding-top(0);
  @include padding-right(16px);
  @include padding-bottom(0);
  @include padding-left(16px);
}
.job {
  @include font-family;
  @include font-weight(400);

  align-self: stretch;
  word-wrap: break-word;
  &--company-name {
    @include margin-bottom(8px);
  }
  &--company-role {
    @include margin-bottom(8px);

    color: var(--sl-color-neutral-700);
  }
  &--company-dates {
    @include margin-bottom(0);

    color: var(--sl-color-neutral-700);
  }
}
.column-list-item {
  @include font-family;
  @include font-weight(400);
  @include margin-bottom(0);

  align-self: stretch;
  word-wrap: break-word;
}
.list-unstyled {
  list-style: none;
}
.hidden {
  visibility: hidden !important;;
}
.anchor-link {
  visibility: hidden;
}
.dark-background * {
  color: var(--sl-color-neutral-50) !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
// Make corners round
.rounded-1 {
  @extend .border-radius-xs;
}
.rounded-2 {
  @extend .border-radius-sm;
}
.rounded-3 {
  @extend .border-radius-md;
}
.rounded-3 {
  @extend .border-radius-lg;
}
.rounded-5 {
  @extend .border-radius-xl;
}
.rounded-6 {
  @extend .border-radius-xxl;
}
.background-overlay {
  background: rgba(0, 0, 0, .8);
  &-light {
    background: rgba(0, 0, 0, .5);
  }
}
.figure-img {
  margin-bottom: .5rem;
  line-height: 1;
}
.banner {
  @include font-weight(600);
  @include fs(1);
  padding: 0.5rem 1rem;
  margin: .5rem 0;
  background-color: rgba(0, 127, 200, 0.5);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 1px 0 0 rgba(232, 232, 236, .5);
  color: var(--color-white);
}
