@include margin-size(
  $none: 0,
  $xsm: .25rem,
  $sm: .5rem,
  $md: 1rem,
  $lg: 1.25rem,
  $xl: 1.5rem,
  $xxl: 2rem,
  $display: 4rem,
);
@include padding-size(
  $none: 0,
  $xsm: .25rem,
  $sm: .5rem,
  $md: 1rem,
  $lg: 1.25rem,
  $xl: 1.5rem,
  $xxl: 2rem,
  $display: 4rem,
);
// @include font-style(
//   $normal: normal,
//   $bold: bold,
//   $italic: italic,
// );
@include text-transform(
  $uppercase: uppercase,
  $capitalize: capitalize,
  $lowercase: lowercase,
);
@include text-decoration(
  $dashed: dashed,
  $dotted: dotted,
  $double: double,
  $line-through: line-through,
  $none: none,
  $solid: solid,
  $underline: underline,
);
@include text-size(
  $xs: .75rem, // 12px
  $sm: .875rem, // 14px
  $md: 1rem, // 16px
  $lg: 1.25rem, // 20px
  $xl: 1.5rem, // 24px
  $xxl: 2rem, // 32px
  $heading: 2.5rem, // 40px
  $display: 4.5rem, // 72px
);
@include text-align(
  $left: left,
  $center: center,
  $right: right,
);
@include border-radius(
  $xs: .25rem,
  $sm: .5rem,
  $md: 1rem,
  $lg: 1.25rem,
  $xl: 1.5rem,
  $xxl: 2rem,
  $circle: 10000rem,
);
@include display(
  $block: block,
  $inline-block: inline-block,
  $flex: flex,
  $inline-flex: inline-flex,
  $none: none,
);
