.highlight-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-highlight {
  text-align: center;
  margin: var(--space-md) auto;
  padding: var(--space-md);
  width: 100%;
}
