.mb-2 {
  margin-bottom: var(--space-xs) !important;
}
.mb-3 {
  margin-bottom: var(--space-sm) !important;
}
.mb-4 {
  margin-bottom: var(--space-md) !important;
}
.mb-5 {
  margin-bottom: var(--space-xl) !important;
}
.mt-2 {
  margin-top: var(--space-xs) !important;
}
.mt-3 {
  margin-top: var(--space-sm) !important;
}
.mt-4 {
  margin-top: var(--space-md) !important;
}
.mt-5 {
  margin-top: var(--space-xl) !important;
}
.ml-2 {
  margin-left: var(--space-xs) !important;
}
.ml-3 {
  margin-left: var(--space-sm) !important;
}
.ml-4 {
  margin-left: var(--space-md) !important;
}
.ml-5 {
  margin-left: var(--space-xl) !important;
}
.mr-2 {
  margin-right: var(--space-xs) !important;
}
.mr-3 {
  margin-right: var(--space-sm) !important;
}
.mr-4 {
  margin-right: var(--space-md) !important;
}
.mr-5 {
  margin-right: var(--space-xl) !important;
}
.p-2 {
  padding: var(--space-xs) !important;
}
.p-3 {
  padding: var(--space-sm) !important;
}
.p-4 {
  padding: var(--space-md) !important;
}
.p-5 {
  padding: var(--space-xl) !important;
}
.pt-2 {
  padding-top: var(--space-xs) !important;
}
.pt-3 {
  padding-top: var(--space-sm) !important;
}
.pt-4 {
  padding-top: var(--space-md) !important;
}
.pt-5 {
  padding-top: var(--space-xl) !important;
}
.pb-2 {
  padding-bottom: var(--space-xs) !important;
}
.pb-3 {
  padding-bottom: var(--space-sm) !important;
}
.pb-4 {
  padding-bottom: var(--space-md) !important;
}
.pb-5 {
  padding-bottom: var(--space-xl) !important;
}
.pl-2 {
  padding-left: var(--space-xs) !important;
}
.pl-3 {
  padding-left: var(--space-sm) !important;
}
.pl-4 {
  padding-left: var(--space-md) !important;
}
.pl-5 {
  padding-left: var(--space-xl) !important;
}
.pr-2 {
  padding-right: var(--space-xs) !important;
}
.pr-3 {
  padding-right: var(--space-sm) !important;
}
.pr-4 {
  padding-right: var(--space-md) !important;
}
.pr-5 {
  padding-right: var(--space-xl) !important;
}
