%parallax {
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-intro {
  @extend %parallax;
  background-image: url(../img/backlitkeyboard.svg);
}

.parallax-about {
  @extend %parallax;
  background-position: center center;
  background-image: url(../img/macOnWhite.svg);
}

.parallax-portfolio {
  @extend %parallax;
  background-position: center right;
  background-image: url(../img/businessComposition.svg);
}

.parallax-content {
  @extend %parallax;
  background-position: left center;
  background-image: url(../img/paperondesk.svg);
}

@media(max-width: 768px) {
  .parallax-about {
    background-image: none;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--background-color--black), #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--background-color--black), #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .parallax-content {
    background-image: none;
    background: #fff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7f7f7, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7f7f7, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .parallax-portfolio {
    background-image: none;
    background: #f7f7f7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bdc3c7, #f7f7f7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bdc3c7, #f7f7f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
@media(max-width:768px) {
  .parallax-intro {
    background-image: none;
    background-color: var(--background-color--black);
  }
}
