.aj-background-image {
  --aj-c-loading-image--BackgroundImage--xs: url("#{$aj-global--image-path}/tranquil_576.jpeg");
  --aj-c-loading-image--BackgroundImage--sm: url("#{$aj-global--image-path}/tranquil_768.jpeg");
  --aj-c-loading-image--BackgroundImage--md: url("#{$aj-global--image-path}/tranquil_992.jpeg");
  --aj-c-loading-image--BackgroundImage--lg: url("#{$aj-global--image-path}/tranquil_1200.jpeg");
  --aj-c-loading-image--BackgroundImage--xl: url("#{$aj-global--image-path}/tranquil_2000.jpeg");
  --aj-c-background-image--Filter: url("#{$aj-global--image-path}/background-filter.svg#image_overlay");

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.98);
    background-image: var(--aj-c-background-image--BackgroundImage--xs);
    // filter: var(--aj-c-background-image--Filter);
    filter: blur(1px) grayscale(70%);
    background-repeat: no-repeat;
    background-size: cover;

    /* ajylelint-disable */
    @media (max-width: 575.98px) {
      background-image: var(--aj-c-loading-image--BackgroundImage--xs-2x);
    }

    @media (max-width: 767.98px) {
      background-image: var(--aj-c-loading-image--BackgroundImage--sm);
    }

    @media (max-width: 991.98px) {
      background-image: var(--aj-c-loading-image--BackgroundImage--md);
    }

    @media (max-width: 1199.98px) {
      background-image: var(--aj-c-loading-image--BackgroundImage--lg);
    }
    /* ajylelint-enable */

    @media (min-width: 1200px) {
      background-image: var(--aj-c-loading-image--BackgroundImage--xl);
    }
  }
}
