:root {
  --color-text-white: #fff;
  --color-text-black: #303030;
  --button-color--primary: #005C53;
  --button-color--primary-accent: #00332F;

  --color-background--primary: #f7f7f7;

  --box-shadow--primary: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);

  --button-primary--background: var(--button-color--primary);
  --button-primary--border: var(--button-color--primary);
  --button-primary--background-hover: var(--button-color--primary-accent);
  --button-primary--border-hover: var(--button-color--primary-accent);

  --font-size--medium: 1em;
  --font-size--large: 3em;
  --font-size--xlarge: 5em;
}
