:root {
  --primary-text-color: #000;
  --text-color--white: #fff;
  --text-color--black: #212121;

  --background-color--white: #fff;
  --background-color--black: #212121;

  --background-color--navigation: rgba(33, 33, 33, 0.8);

  --border-color--white: #fff;
  --border-bottom-color--white: #fff;

  --box-shadow-color: #303030;

  --button-border-color--primary: #0088ce;
  --button-background-color--primary: #0088ce;

  --button-color--blue-300: #39a5dc;
  --button-color--blue-400: #0088ce;
  --button-color--blue-dark: #00659c;
}
