.vertical-text {
  &-left {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0 10px;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size: 4em;
    background-color: rgba(216, 215, 211, .6);
    border-radius: 0 0 5px 5px;
  }
  &-right {
    position: absolute;
    right: 5px;
    margin: 0;
    padding: 0 10px;
    transform: rotate(90deg);
    transform-origin: right top;
    font-size: 4em;
    background-color: rgba(247, 247, 247, .6);
    border-radius: 0 0 5px 5px;
  }
}
