.navbar-custom {
  font-family: "Overpass", Helvetica, Arial, sans-serif;
  background-color: var(--background-color--navigation);
  border-bottom: 1px solid rgba(var(--border-bottom-color--white), 0.3);
  margin-bottom: 0;
  text-transform: uppercase;
  .navbar-toggle {
    font-size: 16px;
    color: var(--text-color--white);
    padding: 4px 6px;
    &:focus,
    &:active {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  a {
    color: var(--text-color--white);
    &:hover,
    &:focus {
      color: rgba(var(--text-color--white), 0.8);
    }
  }
  .nav {
    li {
      a {
        transition: background .3s ease-in-out;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        &:hover {
          color: rgba(var(--text-color--white), 0.8);
          outline: none;
        }
        &:focus,
        &:active {
          color: var(--text-color--white);
          background-color: transparent;
          outline: none;
        }
      }
      &.active {
        outline: none;
        a {
          background-color: rgba(var(--background-color--white), 0.3);
          &:hover {
            color: var(--text-color--white);
          }
        }
      }
    }
  }
  @media(min-width:768px) {
    background: transparent;
    border-bottom: none;
    letter-spacing: 1px;
    padding: 0 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      background: var(--background-color--black);
      border-bottom: 1px solid rgba(var(--border-bottom-color--white), 0.3);
      opacity: .8;
    }
  }
}
