@import 'variables';
@import 'colors';
@import 'navigation';
@import 'jumbotron';

$font-size-base: 16px;

body {
  background-color: var(--color-background--primary);
  font-size: $font-size-base;
}
.header__home {
  @extend %grid;
  background:
    url(../../img/wick-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -56px;
}
.xlarge-heading {
  font-size: 5em;
}
.text-white {
  color: var(--color-text-white);
}
.btn {
  border-radius: var(--border-radius--medium);
  &-primary {
    background-color: #009688;
    border-color: #009688;
    &:hover {
      background-color: #00796B;
      border-color: #00695C;
    }
  }
  &-large {
    font-size: 1.2em;
  }
}
.box-shadow {
  @extend %box-shadow;
}
