/*
** Based on the CodePen from Chirs Coyier
** https://codepen.io/chriscoyier/pen/XwbNwX
*/
.slider {
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 16px;
}

.slides::-webkit-scrollbar-thumb {
  background: var(--earth-sage);
  border-radius: 2rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
  padding: 0 2px;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: transparent;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.carousel img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
