doctype html
html(lang='en')
  include includes/head.pug

  body
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KHQQJJQ', height='0', width='0', style='display:none;visibility:hidden')
    .aj-background--404
    main
      .container.p-3.p-md-5.text-white
        .row.justify-content-end
          .col-md-7.col-lg-9
            h1.display-4.font-weight-normal
              | It looks like you've lost your way.
              | Enjoy this tranquil scene before returning to the place whence you came...

    footer
      include includes/scripts.pug
