doctype html
html(lang='en')
  include includes/head.pug

  body.about
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KHQQJJQ', height='0', width='0', style='display:none;visibility:hidden')
    .aj-background-image-full
    include includes/navigation.pug
    main
      .position-relative.overflow-hidden.p-3.p-md-5.text-white
        .col-md-10.p-lg-8.mx-auto.my-5
          h1.display-4.font-weight-normal About Me
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.justify-content-center.bg-white.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2
              a(href="https://www.redhat.com", target="top") Red Hat, Inc.
            p.h4 Senior Interaction Designer &amp; Software Engineer
            p.lead December 2018 - present
            p.h4 Interaction Designer
            p.lead July 2016 - December 2018
        .bg-white.pt-3.px-3.pt-md-5.px-md-5.overflow-hidden
          .my-3.py-3
            ul
              li Integr8ly Tutorial Web App (<abbr title="Hyper Text Markup Language" class="initialism">HTML</abbr>, <abbr title="Sassy CSS" class="initialism">SCSS</abbr>, <abbr title="A JavaScript library for building user interfaces" class="initialism">React</abbr>)
                ul
                  li
                    a(href="https://github.com/integr8ly/tutorial-web-app", target="top") view on GitHub&nbsp;
                      i(class="fas fa-code")
              li KubeVirt.io Website (<abbr title="simple, extendable, static site generator" class="initialism">Jekyll</abbr>, <abbr title="Hyper Text Markup Language" class="initialism">HTML</abbr>, <abbr title="Sassy CSS" class="initialism">SCSS</abbr>)
                ul
                  li
                    a(href="https://kubevirt.io", target="top") www.kubevirt.io
                  li
                    a(href="https://github.com/kubevirt/kubevirt.github.io", target="top") view on GitHub&nbsp;
                      i(class="fas fa-code")
              li OpenShift 4 beta signup site (<abbr title="Hyper Text Markup Language" class="initialism">HTML</abbr>, <abbr title="Sassy CSS" class="initialism">SCSS</abbr>)
                ul
                  li
                    a(href="https://try.openshift.com/", target="top") try.openshift.com
              li OpenShift.io (<abbr title="Hyper Text Markup Language" class="initialism">HTML</abbr>, <abbr title="Sassy CSS" class="initialism">SCSS</abbr>)
                ul
                  li
                    a(href="https://openshift.io", target="top") openshift.io
                  li
                    a(href="https://github.com/adamj/openshift.io", target="top") view on GitHub&nbsp;
                      i(class="fas fa-code")
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.align-items-center.justify-content-center.bg-white.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2
              a(href="https://www.saylent.com", target="top") Saylent Technologies
            p.h4 User Experience Designer
            p.lead November 2014 - July 2016
        .bg-white.pt-3.px-3.pt-md-5.px-md-5.overflow-hidden
          .my-3.py-3
            ul
              li Lead designer for software (Account360 &amp; Card360)
              li Lead designer on product refreshes
              li Web Architect and Design Lead for internal style guide
              li Developed wireframes, pixel-perfect mockups and interactive prototypes for product refreshes, corporate presentations and sales demonstrations
              li Created proper internal methods for UX prototyping and Usability Testing
              li Manager of Saylent.com environments
              li Participated in daily stand-ups, utilizing Agile methodologies
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.align-items-center.justify-content-center.bg-white.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2
              a(href="https://www.blackducksoftware.com", target="top") BlackDuck Software
            p.h4 Software Engineer
            p.lead February 2013 - October 2014
        .bg-white.pt-3.px-3.pt-md-5.px-md-5.overflow-hidden
          .my-3.py-3
            ul
              li Developed and implemented a software inventory and management system using HTML5, CSS3, LESS, Bootstrap 3.1 and Font Awesome 4
              li Created and developed wireframes, templates and live mockups for development in conjunction with the UX Designer and Architect
              li Developed continuity and usability structure for high interaction areas
              li Assisted design and development with a fluid and responsive navigation structure
              li Developed and tested initial phases of a mobile, tablet based, design framework
              li Utilized GIT for managing development code and versioning
              li Worked within a daily SCRUM and Agile Development process
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.align-items-center.justify-content-center.bg-white.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2
              a(href="http://switchback.com", target="top") Switchback, Inc.
            p.h4 Vice President, Design
            p.lead November 2010 - Present
            p.h4 User Interface Developer/Designer
            p.lead September 2003 - February 2013
        .bg-white.pt-3.px-3.pt-md-5.px-md-5.overflow-hidden
          .my-3.py-3
            ul
              li Created and implemented redesign of an internal financial accounting website utilizing HTML5, CSS3, jQuery and Bootstrap 2.3.2 framework
              li Part of design team from initial conception to finished product – creation of wireframes, Photoshop designs, test sites and integration of data
              li PHP Development on Desktop and Mobile Browsers
              li Built, managed and maintained an internal IIS 7.0 environment
    footer
      include includes/scripts.pug
