doctype html
html(lang='en')
  include includes/head.pug

  body.code
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KHQQJJQ', height='0', width='0', style='display:none;visibility:hidden')
    .aj-background-image-full
    include includes/navigation.pug
    main
      .position-relative.overflow-hidden.p-3.p-md-5.text-white
        .col-md-10.p-lg-8.mx-auto.my-5
          h1.display-4.font-weight-normal Code
          h3.font-weight-normal w/product screenshots
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.justify-content-center.align-items-center.bg-light.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2 <a href="https://redhat-developer.github.io/design-manual" target="top">Red Hat Developer Design Manual</a>
            p.lead HTML / SCSS / JS
            p.lead Gulp / Jekyll / Netlify
        .pt-3.px-3.pt-md-5.px-md-5.overflow-hidden.text-center
          .my-3.py-3
            .card
              .card-body
                img(src="img/RHDManual_Home.png", width="50%", alt="Design Manual Homepage screenshot").pr-md-2
                img(src="img/RHDManual_DesignResources.png", width="50%", alt="Design Manual Resources screenshot")
                img(src="img/RHDManual_CreateArticles.png", width="50%", alt="Design Manual Article Creation screenshot").pt-md-2
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.justify-content-center.align-items-center.bg-light.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2 <a href="https://try.openshift.com" target="top">try.openshift.com</a>
            p.lead HTML / SCSS / JS
            p.lead Gulp / Yarn / PWA
        .pt-3.px-3.pt-md-5.px-md-5.overflow-hidden.text-center
          .my-3.py-3
            .card
              .card-body
                img(src="img/screenshot-try_openshift.png", width="50%", alt="Try.OpenShift.com screenshot")
      .d-md-flex.flex-md-equal.w-100.pb-3
        .d-md-flex.justify-content-center.align-items-center.bg-light.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
          .my-3.py-3
            p.h2 <a href="https://kubevirt.io.com" target="top">kubevirt.io</a>
            p.lead Jekyll / HTML / SCSS / JS
            p.lead Gulp / Node
            p.lead Social, Chat &amp; Lab integration
        .pt-3.px-3.pt-md-5.px-md-5.overflow-hidden.text-center
          .my-3.py-3
            .card
              .card-body
                img(src="img/screenshot-kubevirtio.png", width="50%", alt="KubeVirt.io home page screenshot")
                img(src="img/screenshot-kubevirtio2.png", width="50%", alt="KubeVirt.io community page screenshot")
    footer
      include includes/scripts.pug
