doctype html
html(lang='en')
  include includes/head.pug

  body
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KHQQJJQ', height='0', width='0', style='display:none;visibility:hidden')
    .aj-background-image
    include includes/navigation.pug
    main
    footer
      include includes/scripts.pug
