---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
---json
{
  "permalink": "feed.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Adam J. Jolicoeur",
    "description": "I'm a Product Designer who ships code—and understands the business side. For 15 years, I've designed enterprise applications at Amazon Web Services, Red Hat, and high-growth B2B companies—turning complex, data-intensive workflows into intuitive interfaces that scale.",
    "language": "en",
    "url": "https://www.adamjolicoeur.com/",
    "author": {
      "name": "Adam J. Jolicoeur",
      "url": "https://www.adamjolicoeur.com/about/adam"
    }
  }
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ permalink | absoluteUrl(metadata.url) }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for post in collections.pages | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "date_published": "{{ post.date | dateToRfc3339 }}",
      "date": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
