doctype html
html(lang='en')
  include includes/head.pug

  body
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KHQQJJQ', height='0', width='0', style='display:none;visibility:hidden')
    .aj-background-image
    aside
      include includes/navigation.pug
    header.header__home.container-fluid(role='banner')
    main(role='main')
        .row.justify-content-end.text-right.mr-0
          .col
            h1.xlarge-heading Enlightened Development
            h2.large-heading through
            h1.xlarge-heading Thoughtful Design
    include includes/scripts.pug
