---
pagination:
  data: redirects
  size: 1
  alias: redirect
permalink: "{{ redirect.from }}index.html"
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Redirecting</title>
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ meta.siteURL }}{{ redirect.to }}" />
    <meta http-equiv="refresh" content="0; url={{ redirect.to | url }}" />
  </head>
  <body>
    <p>This page has moved to <a href="{{ redirect.to | url }}">{{ redirect.to }}</a>.</p>
  </body>
</html>
